<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Category</title>

<link rel = "stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
<link rel = "stylesheet" href="/vendor/fontawesome/css/all.min.css">

<script src="/vendor/jquery/jquery-3.6.3.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/fontawesome/js/all.min.js"></script>


</head>
<body>
	<!-- Header -->
	<header class="container-fluid p-5 bg-dark text-white">
		<h1>Category Page</h1>
	</header>

	<!-- Breadcrumb Navigation -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item"><a href="#">Admin</a></li>
			<li class="breadcrumb-item active" aria-current="page">Category</li>
		</ol>
	</nav>

	<!-- Main Page -->
	<section class="container">
		<!-- Searchbar & Add Button -->
		<div class="row p-3">
			<div class="input-group col-sm-9">
				<input class="form-control border-end-0 border rounded-pill"
					type="text" placeholder="search by name" id="example-search-input">
				<span class="input-group-append">
					<button
						class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3"
						type="button">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
			<div class="col-sm-3 text-right">
				<button id="content-add-button" class="btn btn-primary" onclick="bukaPopupAdd()">Add
					Category</button>
			</div>
		</div>

		<!-- Table -->
		<table class="table">
			<thead> <!-- thead sebagai baris Header-->
			<tr> <!--baris-->
				<td>Initial</td>
				<td>Name</td>
				<td>Active</td>
				<td>Action</td>
			</tr>
				
			</thead> <!-- tbody sebagai baris conten-->
			<tbody id="content-tbody"> 
				<tr> <!--baris-->
				<td>Manco</td>
				<td>Main Course</td>
				<td><input type="checkbox" disabled checked></td>
				<td>
				<button class="btn btn-warning" onclick="bukaPopupEdit('MANCO','Main Course',true)"><i class="fa-regular fa-pen-to-square" color="white"></i></button>
				<button class="btn btn-danger" onclick="bukaPopupHapus('MANCO','Main Course',true)"><i class="fa-regular fa-trash-can"></i></button>
				</td>
			</tr>
			<tr> <!--baris-->
				<td>Sate</td>
				<td>Sate</td>
				<td><input type="checkbox" disabled ></td>
				<td>
				<button class="btn btn-warning" onclick="bukaPopupEdit('SATE','sate',false)"><i class="fa-regular fa-pen-to-square" color="white"></i></button>
				<button class="btn btn-danger" onclick="bukaPopupHapus('SATE','sate',false)"><i class="fa-regular fa-trash-can"></i></button>
				</td>
			</tr>
			<tr> <!--baris-->
				<td>IC</td>
				<td>Ice Cream</td>
				<td><input type="checkbox" disabled checked></td>
				<td>
				<button class="btn btn-warning" onclick="bukaPopupEdit('IC','ICe Cream',true)"><i class="fa-regular fa-pen-to-square" color="white"></i></button>
				<button class="btn btn-danger" onclick="bukaPopupHapus('IC','ICe Cream',true)"><i class="fa-regular fa-trash-can"></i></button>
				</td>
			</tr>
			<tr> <!--baris-->
				<td>CKE</td>
				<td>Cake</td>
				<td><input type="checkbox" disabled checked></td>
				<td>
				<button class="btn btn-warning" onclick="bukaPopupEdit('CKE','Cake',true)"><i class="fa-regular fa-pen-to-square" color="white"></i></button>
				<button class="btn btn-danger" onclick="bukaPopupHapus('CKE','Cake',true)"><i class="fa-regular fa-trash-can"></i></button>
				</td>
			</tr>

			</tbody>

		</table>

		<!-- Pagination -->
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-end">
				<li class="page-item disabled"><a class="page-link" href="#"
					tabindex="-1">Previous</a></li>
				<li class="page-item active"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">Next</a></li>
			</ul>
		</nav>

	</section>

	<footer class="container-fluid bg-dark text-white p-5 text-center">
		<h6>© 2023 Batch 310 - Java Spring Boot</h6>
	</footer>

	<!-- Modal -->
	<!--Bisa disebut pop up-->
		
	<div class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add asdasdsa</h5>
					<button type="button" class="btn-close" data-dismiss="modal"
						aria-label="Close">
						<i class="fa fa-close"></i>
					</button>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		
		
	//========================= GET ALL CATEGORY ===========================
	//Fungsi Ajax -> Digunakan untuk koneksi ke API
	
	function getAllCategoriesApi(){
		return $.ajax ({
			
			url : "/api/category/get",
			method : "GET",
			async : false  //agar berjalan tidak pararel kemana mana
		});
	}
	
	
	function refreshList(){
		var response = getAllCategoriesApi().responseJSON;
	console.log(response);	
	
	var list = response.data;
	
	$("#content-tbody").html(""); //mengosongkan sebelum menambahkan semua
	
	for(i=0; i<list.length; i++){
		$("tbody").append(
			`
			<tr> 
				<td>${list[i].initial}</td>
				<td>${list[i].name}</td>
				<td><input type="checkbox" disabled 
					${list[i].active == true ? 'checked' : ''}></td>
				<td>
				<button class="btn btn-warning" 
				onclick="bukaPopupEdit(
					'${list[i].initial}', 
					'${list[i].name}',
					${list[i].active},
					${list[i].id})">
					<i class="fa-regular fa-pen-to-square" color="white"></i>
					</button>
				<button class="btn btn-danger" 
				onclick="bukaPopupHapus(
					'${list[i].initial}',
					'${list[i].name}',
					${list[i].active},
					${list[i].id})">
					<i class="fa-regular fa-trash-can"></i></button>
				</td>
			</tr>
				
			`
		)
		}
	}
	
	
	refreshList();	
	
	
	
	//=======================================================	
	
	
	//================ INSERT CATEGORY =============================	

		
	function insertCategoriesApi(categoryDTO){
		return $.ajax ({
			
			url : "/api/category/insert",
			method : "POST",
			data : categoryDTO,
			contentType : "application/json",
			async : false  //agar berjalan tidak pararel kemana mana
		});
	}
	
	
		
	function bukaPopupAdd(){
		console.log("add category clicked") //menampilkan di console
		
		//Ganti title
		$(".modal-title").html("Add Category")
		
		//Mengisi modal body
		$(".modal-body").html(
		`
		<table class = "table table-borderless">
			<tr>
				<td>Initial</td>
				<td>
					<input id = "input-initial" class = "form-control">
				</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>
					<input id = "input-name" class = "form-control">
				</td>
			</tr>
			<tr>
				<td>Active</td>
				<td>
					<input id="input-active" type ="checkbox"">
				</td>
			</tr>
			<tr>
				<td>
				
				</td>
				<td>
					<button id ="input-cancel"  class="btn btn-light">Cancel</button>
					<button id = "input-create" class="btn btn-success">Create</button>
				</td>
			</tr>
			
			
		</table>
		
		
		`);
		
		$("#input-cancel").click(function(){
			$(".modal").modal("hide");
		});
		
		$("#input-create").click(function(){
			//ambil initial
			var initial = $("#input-initial").val();
			console.log(initial);
			
			//ambil name
			var name = $("#input-name").val();
			console.log(name);
			
			//ambil active
			var active = $("#input-active").prop("checked")
			console.log(active);
			
			//create by
			var createBy = "yuhan";
			console.log(createBy);
			
			//Proses Ubah JSON
			var categoryDTO = JSON.stringify({
				"initial" : initial,
				"name" : name,
				"active" : active,
				"create_by" : createBy
			});
			
			//Panggil API Insert
			
			var response = insertCategoriesApi(categoryDTO).responseJSON;
			if(response.code == 200){
				alert(response.message);
				$(".modal").modal("hide");
				refreshList();
				
			}else{
				alert(response.message);
			}
			
			
		});
		
		//$ adalah pengenal
		// . adalah class
		// # adalah id
		$(".modal").modal("show");
	}
	
	//========================= EDIT CATEGORY ============================
	
	function editCategoryApi(categoryDTO){
		return $.ajax ({
			
			url : "/api/category/update",
			method : "PUT",
			data : categoryDTO,
			contentType : "application/json",
			async : false  //agar berjalan tidak pararel kemana mana
		});
	}
	
	function bukaPopupEdit(initial,name,active,id){
		console.log("edit clicked") //menampilkan di console
		console.log(initial+" "+name+" "+active+" "+id)
		
		//Ganti title
		$(".modal-title").html("Edit")
		
		//Mengisi modal body
		$(".modal-body").html(
		`
		<table class = "table table-borderless">
			<tr>
				<td>Initial</td>
				<td>
					<input id="input-initial" class = "form-control" value="${initial}">
				</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>
					<input id="input-name" class = "form-control" value="${name}">
				</td>
			</tr>
			<tr>
				<td>Active</td>
				<td>
					<input id="input-active" type ="checkbox" ${active == true ? 'checked' : ''}> <!--jika checkbox true dicek, else '' -->
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<button id = "input-cancel" class="btn btn-light">Cancel</button>
					<button id = "input-save" class="btn btn-warning">Save Changes</button>
				</td>
			</tr>
			
			
		</table>
		
		
		`);
		
		$("#input-cancel").click(function(){
			$(".modal").modal("hide");
		});
		
		$("#input-save").click(function(){
			//ambil initial
			var initial = $("#input-initial").val();
			console.log(initial);
			
			//ambil name
			var name = $("#input-name").val();
			console.log(name);
			
			//ambil active
			var active = $("#input-active").prop("checked")
			console.log(active);
			
			//create by
			var modifyBy = "yuhan";
			console.log(modifyBy);
			
			//Proses Ubah JSON
			var categoryDTO = JSON.stringify({
				"initial" : initial,
				"name" : name,
				"active" : active,
				"modify_by" : modifyBy,
				"id" : id
			});
			console.log(categoryDTO);
			//Panggil API Insert
			
			var response = editCategoryApi(categoryDTO).responseJSON;
			if(response.code == 200){
				alert(response.message);
				$(".modal").modal("hide");
				refreshList();
				
			}else{
				alert(response.message);
			}
			
			
		});
		
		
		
		//$ adalah pengenal
		// . adalah class
		// # adalah id
		$(".modal").modal("show");
	}
	
	
	//==============HAPUS=======
	
	function hapusCategoryApi(categoryId){
		var formData = new FormData();
		formData.append("id",categoryId);
		
		return $.ajax ({
			
			url : "/api/category/delete",
			method : "DELETE",
			contentType : false,
			processData : false,
			mimeType : "multipart/form-data",
			data : formData,
			async : false  //agar berjalan tidak pararel kemana mana
		});
	}
	
	
	function bukaPopupHapus(initial,name,active,id){
		console.log("hapus clicked") //menampilkan di console
		console.log("id"+" "+id)
		//Ganti title
		$(".modal-title").html("Edit")
		
		//Mengisi modal body
		$(".modal-body").html(
		`
		<h5> Are you sure want to delete this?</h5>
		<table class = "table table-borderless">
			<tr>
				<td >Initial</td>
				<td >
					${initial}
				</td>
			</tr>
			<tr>
				<td >Name</td>
				<td>
					${name}
				</td>
			</tr>
			<tr>
				<td>Active</td>
				<td>
					<input type ="checkbox" disabled ${active == true ? 'checked' : ''}>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<button id = "input-cancel" class="btn btn-light">Cancel</button>
					<button id = "input-delete" class="btn btn-danger">Delete</button>
				</td>
			</tr>
			
			
		</table>
		
		
		`);
		
		$("#input-cancel").click(function(){
			$(".modal").modal("hide");
		});
		
		$("#input-delete").click(function(){
			//ambil responeText
			var response = hapusCategoryApi(id).responseText;
			console.log(response);
			
			//Convert ke JSON
			var responseJson = $.parseJSON(response);
			
			if(responseJson.code == 200){
				alert(responseJson.message);
				$(".modal").modal("hide");
				refreshList();
				
			}else{
				alert(responseJson.message);
			}
			
		});
		
		
		//$ adalah pengenal
		// . adalah class
		// # adalah id
		$(".modal").modal("show");
	}
		
	</script>
	
</body>
</html>