<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>

<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/vendor/fontawesome/css/all.min.css">

<script src="/vendor/jquery/jquery-3.6.3.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/fontawesome/js/all.min.js"></script>

<style type="text/css">
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	display: flex;
}


form, h2 {
	margin: auto;
	/* nice thing of auto margin if display:flex; it center both horizontal and vertical :) */
}
</style>
</head>
<body>
	<form action="javascript:login()">
		<h2 class="m-5">Login form</h2>
		<div class="form-group">
			<label for="email">Email:</label> <input type="email"
				class="form-control" id="email" placeholder="Enter email"
				name="email">
		</div>
		<div class="form-group">
			<label for="pwd">Password:</label> <input type="password"
				class="form-control" id="pwd" placeholder="Enter password"
				name="pswd">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
		<a href="#" style="color:primary" class="btn" onclick="popupRegister()">Register</a>
		
	</form>
	
	<!-- Modal -->
		<div class="modal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add Abcabc</h5>
						<button type="button" class="btn-close" data-dismiss="modal"
							aria-label="Close">
							<i class="fa fa-close"></i>
						</button>
					</div>
					<div class="modal-body"></div>
				</div>
			</div>
		</div>
	
	
	<script type="text/javascript">
		function loginApi(email,password){
			var formData = new FormData();
			formData.append("email", email);
			formData.append("password", password);

			return $.ajax({
				url: "/api/user/login",
				method: "POST",
				data: formData,
				contentType: false,
				processData: false,
				mimeType: "multipart/form-data",
				async: false
			});
		}
		function saveLoginData(userDto){

			return $.ajax({
				url: "/user/saveLoginData",
				method: "GET",
				data: userDto,
				async: false
			});
		}
		
		function login(){
			var email = $("#email").val();
			var password = $("#pwd").val();
			
			var responseText = loginApi(email,password).responseText;
			var response = $.parseJSON(responseText);
			
			if(response.code == 200){
				alert(response.message);
				var redirectURL = saveLoginData(response.data).responseText;
				$(location).attr('href',redirectURL);
				}else{
				alert(response.message);
			}
		}
		
		//PopUp Register
		function popupRegister(){
			console.log("Add Register!")
			//Ganti Title
			$(".modal-title").html("Register");
			
			//Isi Modal Body
			$(".modal-body").html(
				`
				<table class="table table-borderless">
					<tr>
						<td><input id="input-email" class="form-control" type="text" placeholder="Enter Email" name="email" required></input></td>
					</tr>
					<tr>
						<td class="center">
						<button id="btn-ok" class="btn btn-primary" type="submit" >Ok</button>
						</td>
					</tr>
				</table>
				`
			);
			
			$("#btn-ok").click(function(){
				var email = $("#input-email").val();
				popupRegister2(email);
			})
			$(".modal").modal("show");
		}
		
		function popupRegister2(email){
			$(".modal-title").html("Masukkan OTP");
			
			//Isi Modal Body
			$(".modal-body").html(
				`
				<table class="table table-borderless" display="flex">
					<tr>
						<td><input id="input-otp" class="form-control" type="text" placeholder="Kode OTP" name="kodeOtp" required></input></td>
					</tr>
					<tr>
						<td>
						<button id="btn-ok" class="btn btn-primary" type="submit" >Ok</button>
						</td>
					</tr>
				</table>
				`
			);
			$("#btn-ok").click(function(){
				var otp = $("#input-otp").val();
				popupRegister3(email,otp);
			})
			$(".modal").modal("show");
		}
		function popupRegister3(email,otp){
			$(".modal-title").html("Masukkan Data Diri");
			
			//Isi Modal Body
			$(".modal-body").html(
				`
				<table class="table table-borderless" display="flex">
					<tr>
						<td><input id="input-email" class="form-control" type="text" placeholder=${email} name="email" disabled></input></td>
					</tr>
					<tr>
						<td><input id="input-password" class="form-control" type="text" placeholder="Password" name="password" required></input></td>
					</tr>
					<tr>
						<td><input id="input-name" class="form-control" type="text" placeholder="Name" name="name" required></input></td>
					</tr>
					<tr>
						<td>
							<select id="dropdown-role" class="form-control">
								<option>ADMIN</option>
								<option>WAREHOUSE</option>
								<option>CASHIER</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="center">
						<button id="btn-ok" class="btn btn-primary" type="submit" >Ok</button>
						</td>
					</tr>
				</table>
				`
			);
			$("#btn-ok").click(function(){
				console.log(email);
				console.log(otp);				
				
				var password = $("#input-password").val();
				console.log(password);
				
				var name = $("#input-name").val();
				console.log(name);
				
				var dd = $("#dropdown-role").val();
				console.log(dd);
			})
		}
	</script>
</body>
</html>