<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Category</title>

	<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/vendor/fontawesome/css/all.min.css">

	<script src="/vendor/jquery/jquery-3.6.3.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/vendor/fontawesome/js/all.min.js"></script>

</head>

<body>
	<!-- Header -->
	<header class="container-fluid p-5 bg-dark text-white">
		<h1>Category Page</h1>
	</header>

	<!-- Breadcrumb Navigation -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item"><a href="#">Admin</a></li>
			<li class="breadcrumb-item active" aria-current="page">Category</li>
		</ol>
	</nav>

	<!-- Main Page -->
	<section class="container">
		<!-- Searchbar & Add Button -->
		<div class="row p-3">
			<div class="input-group col-sm-9">
				<input class="form-control border-end-0 border rounded-pill" type="text" placeholder="search by name"
					id="example-search-input">
				<span class="input-group-append">
					<button class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3"
						type="button">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
			<div class="col-sm-3 text-right">
				<button id="content-add-button" class="btn btn-dark" onclick="bukaPopupAdd()">
					Add Category</button>
			</div>
		</div>

		<!-- Table -->
		<table class="table">
			<thead>
				<!-- Baris Header-->
				<tr>
					<!-- Baris -->
					<td>Initial</td> <!-- Kolom -->
					<td>Name</td>
					<td>Active</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody id="content-tbody">
				<!-- Baris Kontennya-->
				<tr>
					<td>MANCO</td> <!-- Kolom -->
					<td>Main Course </td>
					<td><input type="checkbox" disabled checked></td>
					<td>
						<button class="btn btn-warning" onclick="bukaPopupEdit('MANCO','Main Course', true)">
							<i class="fa-solid fa-pen-to-square" color="white"></i>
						</button>
						<button class="btn btn-danger" onclick="bukaPopupHapus('MANCO','Main Course', true)">
							<i class="fa-solid fa-trash"></i>
						</button>
					</td>

				</tr>

				<tr>
					<td>SATE</td> <!-- Kolom -->
					<td>Sate </td>
					<td><input type="checkbox" disabled></td>
					<td>
						<button class="btn btn-warning" onclick="bukaPopupEdit('SATE','Sate', true)">
							<i class="fa-solid fa-pen-to-square" color="white"></i>
						</button>
						<button class="btn btn-danger" onclick="bukaPopupHapus('SATE','Sate', true)">
							<i class="fa-solid fa-trash"></i>
						</button>
					</td>

				</tr>

				<tr>
					<td>IC</td> <!-- Kolom -->
					<td>ICE Cream </td>
					<td><input type="checkbox" disabled checked></td>
					<td>
						<button class="btn btn-warning" onclick="bukaPopupEdit('IC','ICE Cream', true)">
							<i class="fa-solid fa-pen-to-square" color="white"></i>
						</button>
						<button class="btn btn-danger" onclick="bukaPopupHapus('IC','ICE Cream', true)">
							<i class="fa-solid fa-trash"></i>
						</button>
					</td>

				</tr>

				<tr>
					<td>CKE</td> <!-- Kolom -->
					<td>Cake </td>
					<td><input type="checkbox" disabled checked></td>
					<td>
						<button class="btn btn-warning" onclick="bukaPopupEdit('CKE','Cake', true)">
							<i class="fa-solid fa-pen-to-square" color="white"></i>
						</button>
						<button class="btn btn-danger" onclick="bukaPopupHapus('IC','ICE Cream', true)">
							<i class="fa-solid fa-trash"></i>
						</button>
					</td>

				</tr>
			</tbody>
		</table>

		<!-- Pagination -->
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-end">
				<li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
				<li class="page-item active"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">Next</a></li>
			</ul>
		</nav>

	</section>

	<footer class="container-fluid bg-dark text-white p-5 text-center">
		<h6>© 2023 Batch 310 - Java Spring Boot</h6>
	</footer>

	<!-- Modal -->
	<div class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add asdasdsa</h5>
					<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
						<i class="fa fa-close"></i>
					</button>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div>


	<!--Java Script -->
	<script type="text/javascript">
		//Fungsi Ajax =. Untuk koneksi ke API
		// # => id
		// . => Class
		function getAllCategoriesApi() {
			return $.ajax({
				url: "/api/category/get",
				method: "GET",
				async: false

			});
		}

		function refreshList() {

			var response = getAllCategoriesApi().responseJSON;    //Manggil semua data
			console.log(response);

			var list = response.data;
			$("#content-tbody").html("");

			//---------- GET ALL CATEGORIES------------------------------

			for (i = 0; i < list.length; i++) {
				$("#content-tbody").append(
					`
				<tr>
					<td>${list[i].initial}</td> <!-- Kolom -->
					<td>${list[i].name} </td>
					<td><input type="checkbox" disabled 
						${list[i].active == true ? 'checked' : ''}></td>
					<td>
						<button class="btn btn-warning" 
						onclick="bukaPopupEdit(
							'${list[i].initial}',
							'${list[i].name}', 
						    '${list[i].active}',
						    '${list[i].id}')">                                          
							<i class="fa-solid fa-pen-to-square" color="white"></i>
						</button>
						<button class="btn btn-danger" onclick="bukaPopupHapus(
							'${list[i].initial}',
							'${list[i].name}', 
						    '${list[i].active}',
						    '${list[i].id}')">                                          
							<i class="fa-solid fa-trash"></i>
						</button>
					</td>

				</tr>
				
				`
				)
			}

		}

		refreshList();


		//---------- ISERT CATEGORIES------------------------------

		function insertCategoryApi(categoryDTO) {
			return $.ajax({
				url: "/api/category/insert",
				method: "POST",
				data: categoryDTO,
				contentType: "application/json",
				async: false

			});
		}

		function bukaPopupAdd() {
			//Ganti title
			$(".modal-title").html("Add Category")

			//Ngisi Modal body
			$(".modal-body").html(
				`
			<table class="table table-borderless">
				<tr>
					<td>Initial</td>
					<td><input id="input-initial" class="form-control"></td>
				</tr>
				<tr>
					<td>Name</td>
					<td><input id="input-name" class="form-control"></td>	
				</tr>
				<tr>
					<td>Active</td>
					<td><input id="input-active" type="checkbox"></td>	
				</tr>
				<tr>
					<td></td>
					<td>
						<button id="input-cancel" class="btn btn-light">Cancel</button>
						<button id="input-create" class="btn btn-success">Create</button>
					</td>
				</tr>
			</table>
			`
			);

			$("#input-cancel").click(function () {
				$(".modal").modal("hide");
			})

			$("#input-create").click(function () {
				$(".modal").modal("hide");
				//Ambil initial
				var initial = $("#input-initial").val();
				console.log(initial);

				//Ambil name
				var name = $("#input-name").val();
				console.log(name);

				//Ambil active	
				var active = $("#input-active").prop("checked");
				console.log(active);

				//Ambil create by
				var createBy = "Imam"
				console.log(createBy);

				//Proses Membuat Json JSON
				var categoryDTO = JSON.stringify({
					"initial": initial,
					"name": name,
					"active": active,
					"create_by": createBy
				});


				//Panggil API Insert
				var response = insertCategoryApi(categoryDTO).responseJSON;
				if (response.code == 200) {
					alert(response.message);
					$(".modal").modal("hide"); //ditutup
					refreshList();
				} else {
					alert(response.message);
				}
			});

			// . => class
			// # => id

			$(".modal").modal("show");
		}

		//--------------EDIT Category

		function editCategoryApi(categoryDTO) {
			return $.ajax({
				url: "/api/category/update",
				method: "PUT",
				data: categoryDTO,
				contentType: "application/json",
				async: false

			});
		}




		function bukaPopupEdit(initial, name, active, id) {
			console.log(initial + " " + name + " " + active + " " + id)
			//Ganti title
			$(".modal-title").html("Edit")

			//Ngisi Modal body
			$(".modal-body").html(
				`
			<table class="table table-borderless">
				<tr>
					<td>Initial</td>
					<td><input id="input-initial" class="form-control" value="${initial}"></td>
				</tr>
				<tr>
					<td>Name</td>
					<td><input id="input-name" class="form-control" value="${name}"></td>	
				</tr>
				<tr>
					<td>Active</td>
					<td><input id="input-active" type="checkbox"  ${active == true ? 'checked' : ''}></td>	
				</tr>
				<tr>
					<td></td>
					<td>
						<button id="input-cancel" class="btn btn-light">Cancel</button>
						<button id="input-save" class="btn btn-warning">Save Change</button>
					</td>			
				</tr>
			</table>
			`
			);

			$("#input-cancel").click(function () {
				$(".modal").modal("hide");
			})

			$("#input-save").click(function () {
				$(".modal").modal("hide");
				//Ambil initial
				var initial = $("#input-initial").val();
				console.log(initial);

				//Ambil name
				var name = $("#input-name").val();
				console.log(name);

				//Ambil active	
				var active = $("#input-active").prop("checked");
				console.log(active);

				//Ambil modify by
				var modifyBy = "Imam"
				console.log(modifyBy);

				//Proses Membuat Json JSON
				var categoryDTO = JSON.stringify({
					"initial": initial,
					"name": name,
					"active": active,
					"modify_by": modifyBy,
					"id": id
				});


				//Panggil API Insert
				var response = editCategoryApi(categoryDTO).responseJSON;
				if (response.code == 200) {
					alert(response.message);
					$(".modal").modal("hide"); //ditutup
					refreshList();
				} else {
					alert(response.message);
				}
			});

			// . => class
			// # => id

			$(".modal").modal("show");



		}

		//---------------------DELETE---------------------------------

		function deleteCategoryApi(categoryId) {
			var formData = new FormData();
			formData.append("id", categoryId);

			return $.ajax({
				url: "/api/category/delete",
				method: "DELETE",
				data: formData,
				contentType: false,
				processData: false,
				mimeType: "multipart/form-data",
				async: false

			});
		}

		function bukaPopupHapus(initial, name, active, id) {
			console.log(initial + " " + name + " " + active + " " + id)
			//Ganti title
			$(".modal-title").html("Hapus")

			//Ngisi Modal body
			$(".modal-body").html(
				`
			<h5> Are you sure you want to delete this?</h5>
			<table class="table table-borderless">
				
				<tr>
					<td>Initial</td>
					<td>${initial}</td>
				</tr>
				<tr>
					<td>Name</td>
					<td>${name}</td>	
				</tr>
				<tr>
					<td>Active</td>
					<td><input type="checkbox" ${active == true ? 'checked' : ''} disabled></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button id="input-cancel" class="btn btn-light">Cancel</button>
						<button id="input-delete" class="btn btn-danger">Delete</button>
					</td>
				</tr>
			</table>
			`
			);

			$("#input-cancel").click(function () {
				$(".modal").modal("hide");
			});

			$("#input-delete").click(function () {
				
				//Ambil response Text
				var response = deleteCategoryApi(id).responseText;
				//Convert ke JSON
				var responseJson = $.parseJSON(response);
				console.log(response);
				
					if (responseJson.code == 200) {
					alert(responseJson.message);
					$(".modal").modal("hide"); //ditutup
					refreshList();
				} else {
					alert(responseJson.message);
				}

			});



			// . => class
			// # => id

			$(".modal").modal("show");
		}
	</script>
</body>

</html>