<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>

<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/vendor/fontawesome/css/all.min.css">

<script src="/vendor/jquery/jquery-3.6.3.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/fontawesome/js/all.min.js"></script>

<style type="text/css">
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	display: flex;
}

form, h2 {
	margin: auto;
	/* nice thing of auto margin if display:flex; it center both horizontal and vertical :) */
}
</style>
</head>
<body>
	<form action="javascript:login()">
		<h2 class="m-5">Login form</h2>
		<div class="form-group">
			<label for="email">Email:</label> <input type="email"
				class="form-control" id="email" placeholder="Enter email"
				name="email">
		</div>
		<div class="form-group">
			<label for="pwd">Password:</label> <input type="password"
				class="form-control" id="pwd" placeholder="Enter password"
				name="pswd">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	
	<script type="text/javascript">
		function loginApi(email, password){
			var formData = new FormData();
			formData.append("email", email);
			formData.append("password", password);

			return $.ajax({
				url: "/api/user/login",
				method: "POST",
				data: formData,
				contentType: false,
				processData: false,
				mimeType: "multipart/form-data",
				async: false
			});
		}
		
		function saveLoginData(userDto){
			return $.ajax({
				url: "/user/saveLoginData",
				method: "GET",
				data: userDto,
				async: false
			});
		}
		
		function login(){
			var email = $("#email").val();
			var password = $("#pwd").val();
			
			var responseText = loginApi(email,password).responseText;
			var response = $.parseJSON(responseText);
			
			if(response.code ==200) {
				alert(response.message);
				//Menyimpan data login ke session
				var redirectUrl = saveLoginData(response.data).responseText;
				$(location).attr('href',redirectUrl);
			} else {
				alert(response.message);
			}
		}
	</script>
</body>
</html>