<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>asdasd</title>

</head>
<body>
	<!-- Header -->
	<header class="container-fluid p-5 bg-dark text-white">
		<h1>adasdasdasdas</h1>
	</header>

	<!-- Breadcrumb Navigation -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item"><a href="#">Admin</a></li>
			<li class="breadcrumb-item active" aria-current="page">adadasdas</li>
		</ol>
	</nav>

	<!-- Main Page -->
	<section class="container">
		<!-- Searchbar & Add Button -->
		<div class="row p-3">
			<div class="input-group col-sm-9">
				<input class="form-control border-end-0 border rounded-pill"
					type="text" placeholder="search by name" id="example-search-input">
				<span class="input-group-append">
					<button
						class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3"
						type="button">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
			<div class="col-sm-3 text-right">
				<button id="content-add-button" class="btn btn-outline">Add
					asdasdas</button>
			</div>
		</div>

		<!-- Table -->
		<table class="table">
			<thead>
				
			</thead>
			<tbody>

			</tbody>

		</table>

		<!-- Pagination -->
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-end">
				<li class="page-item disabled"><a class="page-link" href="#"
					tabindex="-1">Previous</a></li>
				<li class="page-item active"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">Next</a></li>
			</ul>
		</nav>

	</section>

	<footer class="container-fluid bg-dark text-white p-5 text-center">
		<h6>© 2023 Batch 310 - Java Spring Boot</h6>
	</footer>

	<!-- Modal -->
	<div class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add asdasdsa</h5>
					<button type="button" class="btn-close" data-dismiss="modal"
						aria-label="Close">
						<i class="fa fa-close"></i>
					</button>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div>
</body>
</html>