<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>

	<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/vendor/fontawesome/css/all.min.css">

	<script src="/vendor/jquery/jquery-3.6.3.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/vendor/fontawesome/js/all.min.js"></script>

	<style type="text/css">
		html,
		body {
			height: 100%;
			width: 100%;
			margin: 0;
		}

		body {
			display: flex;
		}

		form,
		h2 {
			margin: auto;
			/* nice thing of auto margin if display:flex; it center both horizontal and vertical :) */
		}
	</style>
</head>

<body>
	<form action="javascript:login()">
		<h2 class="m-5">Login form</h2>
		<div class="form-group">
			<label for="email">Email:</label> <input type="email" class="form-control" id="email"
				placeholder="Enter email" name="email">
		</div>
		<div class="form-group">
			<label for="pwd">Password:</label> <input type="password" class="form-control" id="pwd"
				placeholder="Enter password" name="pswd">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
		<button type="button" class="btn btn-primary" onclick="bukaPopUpRegister()">Register</button>

	</form>
	
	<!-- Modal -->
	<div class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Abcabc</h5>
					<button type="button" class="btn-close" data-dismiss="modal"
						aria-label="Close">
						<i class="fa fa-close"></i>
					</button>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		
		function loginApi(email, password) {
			var formData = new FormData();
			formData.append("email", email);
			formData.append("password", password);

			return $.ajax({
				url: "/api/user/login",
				method: "POST",
				data: formData,
				contentType: false,
				processData: false,
				mimeType: "multipart/form-data",
				async: false
			});
		}
		
		function saveLoginData(UserDTO) {
			return $.ajax({
				url: "/user/saveLoginData",
				method: "GET",
				data: UserDTO,
				async: false
			});
		}
		
		function login(){
			var email = $("#email").val();
			var password = $("#pwd").val();
			
			var responseText = loginApi(email, password).responseText;
			var response = $.parseJSON(responseText);
			
			if(response.code == 200){
				alert(response.message);
				// menyimpan data login ke session
				var redirectUrl = saveLoginData(response.data).responseText;
				$(location).attr('href', redirectUrl);
			} else{
				alert(response.message);
			}
		}

		function bukaPopUpRegister(){
			console.log("Register terpencet")
			
			//Ganti Title
			$(".modal-title").html("Masukkan Email");
			
			//Ngisi Modal Body
			$(".modal-body").html(
				`
				<table class="table table-borderless">
					<tr>
						<td>Email</td>
						<td>
							<input id="input-email" class="form-control">
						</td>
					</tr>
					<tr>
						<td>
							<button id="input-ok" class="btn btn-primary">OK</button>
						</td>
					</tr>
				</table>
				`						
			);
			
			$("#input-ok").click(function(){
				var email = $("#input-email").val();
				bukaPopUpRegister1(email);
				console.log("ok terpencet")

			});
			$(".modal").modal("show");
		}
		
		function bukaPopUpRegister1(email){
			
			//Ganti Title
			$(".modal-title").html("Masukkan OTP");
			
			//Ngisi Modal Body
			$(".modal-body").html(
				`
				<table class="table table-borderless">
					<tr>
						<td>OTP</td>
						<td>
							<input id="input-otp" class="form-control">
						</td>
					</tr>
					<tr>
						<td>
							<button id="input-ok" class="btn btn-primary">OK</button>
						</td>
					</tr>
				</table>
				`						
			);
			$("#input-ok").click(function(){
				var otp = $("#input-otp").val();
				bukaPopUpRegister2(email, otp);
				console.log("ok terpencet")

			});
			$(".modal").modal("show");
		}
		
		function bukaPopUpRegister2(email, otp){
			
			//Ganti Title
			$(".modal-title").html("Masukkan Data Register");
			
			//Ngisi Modal Body
			$(".modal-body").html(
				`
				<table class="table table-borderless">
					<tr>
						<td>Email</td>
						<td>
							<input id="input-email" class="form-control" value="${email}" disabled>
						</td>
					</tr>
					<tr>
						<td>Password</td>
						<td>
							<input id="input-password" class="form-control">
						</td>
					</tr>
					<tr>
						<td>Nama</td>
						<td>
							<input id="input-name" class="form-control">
						</td>
					</tr>
					<tr>
						<td>Role</td>
						<td>
							<select id="input-role" class="form-control">
								<option value="1">Admin</option>
								<option value="2">Warehouse</option>
								<option value="3">Cashier</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<button id="input-ok" class="btn btn-primary">OK</button>
						</td>
					</tr>
				</table>
				`						
			);
			$("#input-ok").click(function(){
				
				console.log(email);
				
				console.log(otp);
				
				var password = $("#input-password").val();
				console.log(password);
				
				var name = $("#input-name").val();
				console.log(name);
				
				var roleCode = $("#input-role").val();
				console.log(roleCode);
				
				$(".modal").modal("hide");

			});
			$(".modal").modal("show");
		}
		

	</script>
</body>

</html>