<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Variant</title>

<link rel = "stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
<link rel = "stylesheet" href="/vendor/fontawesome/css/all.min.css">

<script src="/vendor/jquery/jquery-3.6.3.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/fontawesome/js/all.min.js"></script>


</head>
<body>
	<!-- Header -->
	<header class="container-fluid p-5 bg-dark text-white">
		<h1>Variant Page</h1>
	</header>

<!-- Breadcrumb Navigation -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item"><a href="#">Admin</a></li>
			<li class="breadcrumb-item active" aria-current="page">Variant</li>
		</ol>
	</nav>


	<!-- Main Page -->
	<section class="container">
		<!-- Searchbar & Add Button -->
		<div class="row p-3">
			<div class="input-group col-sm-9">
				<button id="content-add-button" class="btn btn-primary" onclick="bukaPopupAdd()">Add
					Variant</button>
				
				<input class="form-control border-end-0 border rounded-pill"
					type="text" placeholder="search by name" id="example-search-input">
				<span class="input-group-append">
					<button
						class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3"
						type="button">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		
		</div>
		

		<!-- Table -->
		<table class="table">
			<thead> <!-- thead sebagai baris Header-->
			<tr> <!--baris-->
			
				<td>Category</td>
				<td>Initial</td>
				<td>Name</td>
				<td>Active</td>
				<td>Action</td>
			</tr>
				
			</thead> <!-- tbody sebagai baris conten-->
			<tbody> 
			<tr> <!--baris-->
				<td>Main Course</td>
				<td>NASGOR</td>
				<td>Nasi Goreng</td>
				<td><input type="checkbox" disabled checked></td>	
				<td>
				<button class="btn btn-warning" onclick="bukaPopupEdit('Main Course','NASGOR','Nasi Goreng',true)"><i class="fa-regular fa-pen-to-square" color="white"></i></button>
				<button class="btn btn-danger" onclick="bukaPopupHapus('Main Course','NASGOR','Nasi Goreng',true)"><i class="fa-regular fa-trash-can"></i></button>
				</td>
			</tr>
			<tr> <!--baris-->
				<td>Main Course</td>
				<td>NASUD</td>
				<td>Nasi Uduk</td>
				<td><input type="checkbox" disabled checked></td>
				<td>
				<button class="btn btn-warning" onclick="bukaPopupEdit('Main Course','NASUD','Nasi Uduk',true)"><i class="fa-regular fa-pen-to-square" color="white"></i></button>
				<button class="btn btn-danger" onclick="bukaPopupHapus('Main Course','NASUD','Nasi Uduk',true)"><i class="fa-regular fa-trash-can"></i></button>
				</td>
			</tr>
			<tr> <!--baris-->
				<td>ICE Cream</td>
				<td>ICban</td>
				<td>Ice Cream Banana</td>
				<td><input type="checkbox" disabled checked></td>
				<td>
				<button class="btn btn-warning" onclick="bukaPopupEdit('Ice Cream','ICban','Ice Cream Banana',true)"><i class="fa-regular fa-pen-to-square" color="white"></i></button>
				<button class="btn btn-danger" onclick="bukaPopupHapus('Ice Cream','ICban','Ice Cream Banana',true)"><i class="fa-regular fa-trash-can"></i></button>
				</td>
			</tr>
			</tr>
			

			</tbody>

		</table>

		<!-- Pagination -->
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-end">
				<li class="page-item disabled"><a class="page-link" href="#"
					tabindex="-1">Previous</a></li>
				<li class="page-item active"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">Next</a></li>
			</ul>
		</nav>

	</section>

	<footer class="container-fluid bg-dark text-white p-5 text-center">
		<h6>© 2023 Batch 310 - Java Spring Boot</h6>
	</footer>

	<!-- Modal -->
	<!--Bisa disebut pop up-->
		
	<div class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add asdasdsa</h5>
					<button type="button" class="btn-close" data-dismiss="modal"
						aria-label="Close">
						<i class="fa fa-close"></i>
					</button>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		
	
		
	function bukaPopupAdd(){
		console.log("add category clicked") //menampilkan di console
		
		//Ganti title
		$(".modal-title").html("Add Variant")
		
		//Mengisi modal body
		$(".modal-body").html(
		`
		<table class = "table table-borderless">
			<tr>
				<td>Category</td>
				<td>
					
				<select name="category-names" id="category-names" class = "form-control">
				<option value="main-course">Select Category</option>
    			<option value="main-course">Main Course</option>
  				<option value="ice-cream">Ice Cream</option>
  				<option value="sate">Sate</option>
  				<option value="cake">Cake</option>
				</select>
				
				</td>
			</tr>
			<tr>
				<td>Initial</td>
				<td>
					<input class = "form-control">
				</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>
					<input class = "form-control">
				</td>
			</tr>
			<tr>
				<td>Active</td>
				<td>
					<input type ="checkbox"">
				</td>
			</tr>
			<tr>
				<td>
				
				</td>
				<td>
					<button class="btn btn-light">Cancel</button>
					<button class="btn btn-success">Create</button>
				</td>
			</tr>
			
			
		</table>
		
		
		`);
		
		
		
		//$ adalah pengenal
		// . adalah class
		// # adalah id
		$(".modal").modal("show");
	}
	
	function bukaPopupEdit(category,initial,name,active){
		console.log("edit clicked") //menampilkan di console
		console.log(category+" "+initial+" "+name+" "+active)
		
		//Ganti title
		$(".modal-title").html("Edit")
		
		//Mengisi modal body
		$(".modal-body").html(
		`
		<table class = "table table-borderless">
			<tr>
				<td>Category</td>
				<td>
					<select name="category-names" id="category-names" class = "form-control">
				<option value="main-course" hidden>${category}</option>
    			<option value="main-course">Main Course</option>
  				<option value="ice-cream">Ice Cream</option>
  				<option value="sate">Sate</option>
  				<option value="cake">Cake</option>
  				
				</select>
				</td>
			</tr>
			<tr>
				<td>Initial</td>
				<td>
					<input class = "form-control" value="${initial}">
				</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>
					<input class = "form-control" value="${name}">
				</td>
			</tr>
			<tr>
				<td>Active</td>
				<td>
					<input type ="checkbox" disabled ${active == true ? 'checked' : ''}> <!--jika checkbox true dicek, else '' -->
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<button class="btn btn-light">Cancel</button>
					<button class="btn btn-warning">Save Changes</button>
				</td>
			</tr>
			
			
		</table>
		
		
		`);
		
		
		
		//$ adalah pengenal
		// . adalah class
		// # adalah id
		$(".modal").modal("show");
	}
	
	function bukaPopupHapus(category,initial,name,active){
		console.log("edit clicked") //menampilkan di console
		
		//Ganti title
		$(".modal-title").html("Edit")
		
		//Mengisi modal body
		$(".modal-body").html(
		`
		<h5> Are you sure want to delete this?</h5>
		<table class = "table table-borderless">
			<tr>
				<td >Category</td>
				<td >
					${category}
				</td>
			</tr>
			<tr>
				<td >Initial</td>
				<td >
					${initial}
				</td>
			</tr>
			<tr>
				<td >Name</td>
				<td>
					${name}
				</td>
			</tr>
			<tr>
				<td>Active</td>
				<td>
					<input type ="checkbox" disabled ${active == true ? 'checked' : ''}>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<button class="btn btn-light">Cancel</button>
					<button class="btn btn-danger">Delete</button>
				</td>
			</tr>
			
			
		</table>
		
		
		`);
		
		
		
		//$ adalah pengenal
		// . adalah class
		// # adalah id
		$(".modal").modal("show");
	}
		
	</script>
	
</body>
</html>