<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>

	<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/vendor/fontawesome/css/all.min.css">

	<script src="/vendor/jquery/jquery-3.6.3.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/vendor/fontawesome/js/all.min.js"></script>

	<style type="text/css">
		html,
		body {
			height: 100%;
			width: 100%;
			margin: 0;
		}

		body {
			display: flex;
		}

		form,
		h2 {
			margin: auto;
			/* nice thing of auto margin if display:flex; it center both horizontal and vertical :) */
		}
	</style>
</head>

	
<body>
	
	<form action="javascript:login()">
		<h2 class="m-5">Login form</h2>
		<div class="form-group">
			<label for="email">Email:</label> <input type="email" class="form-control" id="email"
				placeholder="Enter email" name="email">
		</div>
		<div class="form-group">
			<label for="pwd">Password:</label> <input type="password" class="form-control" id="pwd"
				placeholder="Enter password" name="pswd">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEmail">
		Register
		</button>

	</form>
	

<!-- Modal -->
<div class="modal fade" id="modalEmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Email Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <table class="table table-borderless">
			<tr>
				<td>Email</td>
				<td>
					<input type="text" id="input-email" class="form-control">
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button id="input-ok" class="btn btn-warning" data-toggle="modal" data-target="#modalOTP" onclick="getEmail();">OK</button>
				</td>
			</tr>
		</table>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="modalOTP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">OTP</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <table class="table table-borderless">
			<tr>
				<td>OTP</td>
				<td>
					<input id="input-otp" class="form-control">
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button  class="btn btn-warning"  data-toggle="modal" data-target="#registerForm">OK</button>
				</td>
			</tr>
		</table>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div class="modal fade" id="registerForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">OTP</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <table class="table table-borderless">
			<tr>
				<td>Email</td>
				<td>
					<input id="register-email" class="form-control" disabled value=(#input-email)>
				</td>
			</tr>
			<tr>
				<td>Password</td>
				<td>
					<input id="input-password" class="form-control">
				</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>
					<input id="input-name" class="form-control">
				</td>
			</tr>
			<tr>
				<td>Role</td>
				<td>
					<select id="input-role" class = "form-control">
							<option value="admin">ADMIN</option>
  							<option value="warehouse">WAREHOUSE</option>
						  <option value="cashier">CASHIER</option>
					</select>
				</td>
			</tr>
			<tr>
				<td></td>
				<td> <a href="http://localhost/login">
					<button class="btn btn-warning">OK</button></a>
				</td>
			</tr>
		</table>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


	<script type="text/javascript">
		
		function getEmail(){
            // Selecting the input element and get its value 
            var inputEmail = document.getElementById("input-email").value;
            
            // Displaying the value
            alert(inputmail);
        }

		function loginApi(email, password) {
			var formData = new FormData();
			formData.append("email", email);
			formData.append("password", password);

			return $.ajax({
				url: "/api/user/login",
				method: "POST",
				data: formData,
				contentType: false,
				processData: false,
				mimeType: "multipart/form-data",
				async: false
			});
		}
		
		function saveLoginData(userDTO) {
	
			return $.ajax({
				url: "/user/saveLoginData",
				method: "GET",
				data: userDTO,
				async: false
			});
		}

		function login() {
			var email = $("#email").val();
			var password = $("#pwd").val();

			var responseText = loginApi(email, password).responseText;
			var response = $.parseJSON(responseText);

			if (response.code == 200) {
				console.log("sukses login")
				alert(response.message);
				//Menyimpan data login ke session
				var redirectURL = saveLoginData(response.data).responseText;
				$(location).attr('href',redirectURL);
			} else {
				console.log("else")
				alert(response.message);
			}
		}
		
		function registerEmailClick(){
			console.log("register email klik");
		}

	</script>
</body>

</html>